<mat-card class="card">
    <div class="content">
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <span class="title">
            <h3>Maquete teste asdasdg</h3>
        </span>
    </div>
    <span class="actions">
        <div class="button-row">
          <div class="flex-container">
            <div class="button-container">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
            <div class="button-container">
              <button mat-mini-fab color="accent" routerLink="/edit-model" aria-label="Example icon button with a bookmark icon">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            
          </div>
        </div>
    </span>
</mat-card>