.conteiner {
    min-height: 70vh;
    margin-top: 20px;
}

.cardsArea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 500px;
    text-align: left;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px gray;
}

h2 {
    text-align: center;
}